#personal{
	background-color: white;
	color: black;
	text-shadow: 1px 1px 0 rgba(0,0,0,.18);
	margin: 10px 15% 470px 15%;
	width: 66%;
	padding: 2%;
	border: solid #0e0e0e 1px;
    border-radius: 6px;
}